body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------LOGO------------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

/* --------------NAV------------- */

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

/* --------------CONTACTS------------- */

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

/* --------------HERO------------- */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* --------------FEATURES------------- */

.features-section {
}

.features-list {
}

.features-item {
}

.features-subtitle {
}

.features-text {
}

/* --------------TEAM------------- */

.team {
  background: #f4f4fd;
}

.team-title {
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-img {
}

.team-user {
  text-align: center;
}

.team-text {
  text-align: center;
}

/* --------------PORTFOLIO------------- */

.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-subtitle {
}

.portfolio-text {
}

/* --------------FOOTER------------- */

.footer {
  background: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
